body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(172 172 173);
}

.contentFrame {
    margin: 8px;
}

.logodiv {
    display: flex;
    flex-direction: row;
    background-color: rgb(128 127 193);
}

.logo {
    font-size: 2rem;
    margin: 1rem 0;
    margin-left: 1rem;
}

.logo.right {
    color:white;
    margin-left: 0;
}

