
h3 {
    font-size: 1.2rem;
    /* margin: 1rem 0; */
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 0;
}

.nworkname {
    font-size: 1.5rem;
    /* margin: 1rem; */
}

#peerlist {
    overflow-x: auto;
    border-bottom: 1px solid black;
    margin: .5rem;
    padding: .5rem;
    background-color: white;
}

.peerlistHeading {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-weight: bold;
}

.peerlistHeading p {
    border-bottom: 1px solid black;
    margin: 0;
}

#peerlist p {
    min-width: 200px;
    margin: 8px 0;
}

.peerlistEntries {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}

.peerlistEntries:hover {
    background-color: #f1f1f1;
}

.peerlistEntries p {
    overflow-x: auto;
    white-space: nowrap;
}

.peerlistEntries p::-webkit-scrollbar {
    display: none;
}

.formSection {
    margin: 1rem;
    /* max-width: 800px; */
}

.inputForm {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: baseline;
}

.inputForm input[type="text" i] {
    margin: 2px 0;
    grid-column-start: 2;
    grid-column-end: 4;
}

/* .inputForm button {
    grid-column-start: 2;
} */

.sectionHead {
    background-color: gray;
    color: white;
    margin-top: 1rem;
}


