{% extends "base.html" %}
{% load static %}

<!-- {% url 'home' as home_url %} -->

{% block headstuff %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
    <div class="header">
        <div>
            <span class="nworkname">network : </span>
            <span class="nworkname">{{name}}</span>
        </div>

        <div class="headlinks">
            <a href="{% url 'account' %}">Account</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>

    <h3 class="sectionHead" id="peerlistHead">Peerlist</h3>
    <div id="peerlist">
        <div class="peerlistHeading">
            <p>Nickname</p>
            <p>Public Key</p>
            <p>Wireguard IP</p>
            <p>Wireguard Port</p>
            <p>LAN IP</p>
            <p>WAN IP</p>
        </div>

        {% for peer in peers %}
        <div class="peerlistEntries">
            <p>{{peer.nickname}}</p>
            <p>{{peer.pubkey}}</p>
            <p>{{peer.wgip}}</p>
            <p>{{peer.wgport}}</p>
            <p>{{peer.lanip}}</p>
            <p>{{peer.wanip}}</p>
        </div>
        {% endfor %}
    </div>

    <h3 class="sectionHead" id="newpeerSectionHead">Update Peer</h3>
    <div id="newpeerSection" class="formSection">
        <form method="POST" class="inputForm" autocomplete="off">
            {% csrf_token %}
            <label for="nickname">Nickname</label>
            <input type="text" name="nickname" placeholder="Nickname" required>
            <label for="pubkey">Public Key</label>
            <input type="text" name="pubkey" placeholder="Public Key" requride>
            <label for="wgip">Wireguard IP</label>
            <input type="text" name="wgip" placeholder="Wireguard IP">
            <label for="wgport">Wireguard Port</label>
            <input type="text" name="wgport" placeholder="Wireguard Port">
            <label for="lanip">LAN IP</label>
            <input type="text" name="lanip" placeholder="LAN IP">
            <label for="wanip">WAN IP</label>
            <input type="text" name="wanip" placeholder="WAN IP">
            <p> </p>
            <button type="submit" name="action" value="addPeer">Update Peer</button>
            <button type="submit" name="action" value="removePeer">Remove Peer</button>
        </form>
    </div>

    <div class="testbutton">
        <p>testing</p>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/jsontalk.js' %}"></script>

{% endblock %}

