{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>wireSync</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block headstuff %}
    {% endblock %}
</head>

<body>
    <div class="logodiv">
        <p class="logo">wire</p>
        <p class="logo right">Sync</p>
    </div>

<div class="contentFrame">
    {% block content %}
    {% endblock %}
</div>


</body>

</html>

