body {
    font-family: 'Roboto', sans-serif;
}

.logodiv {
    display: flex;
    flex-direction: row;
    background-color: gray;
}

.logo {
    font-size: 2rem;
    margin: 1rem 0;
}

.right {
    color:white;
}

